/*

.class {
}

#id {
}

*/

/* ------- GENERAL ------- */

body {
  background: #000;
  color: #fff;
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

a {
  color: #cd1633;
  text-decoration: none;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

a:hover {
  color: transparent;
  text-shadow: 0 0 2px rgba(255, 0, 0, 0.7);
}

h1 {
  color: #fff;
  font-size: 30px;
  line-height: 1em;
  margin-top: 0px;
}

/* h1 a {
  color: #fff;
}
h1 a:hover {
  color: transparent;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.7);
} */

h2,
h3,
h4 {
  color: #fff;
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 5px;
}

hr {
border: 0;
height: 1px;
width: 100%;
background: var(--dark);
background-image: linear-gradient(to right, #333, #ccc, #333);
margin-bottom: 20px;
}

audio {
  background: #000;
  width: 50px;
  height: 25px;
}

input, select, textarea, button {
  font-family:inherit;
}

#floatleft {
  float: left;
  padding-right: 20px;
}
#floatright {
  float: right;
  padding-left: 20px;
}

/* ----- TABLES ----- */

table.guide {
	width: 100%;
}

table.guide th {
	color: #fff;
	background-color: #000;
	text-align: left;
	padding: 5px;
	font-weight: 600;
}

table.guide td {
	padding-left: 5px;
}

table.guide tr:nth-child(even) {background-color: rgba(44, 44, 44, 0.363);}

th {
  font-weight: normal;
  text-align: center;
  padding-bottom: 10px;
}

/* th {
  font-weight: normal;
  text-align: center;
  padding-bottom: 10px;
} */

/* ------- SECTIONS ------- */

section {
  /*BACKGROUND*/
  background: #000
    url("assets/backgrounds/bg-main.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /*FONT*/
  font-family: "Montserrat", Verdana, sans-serif;
  font-size: 17px;
  line-height: 1.3em;
  color: #fff;
  /*DISPLAY*/
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  /*SCROLL*/
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-color: #fff #ffffff00;
  scrollbar-width: auto;
}

section:target {
  display: block;
}
section#home {
  display: block;
}

.music-section {
  /*BACKGROUND*/
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("assets/backgrounds/bg-marble.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.garden-section {
  /*BACKGROUND*/
  background: #ffffcf
    url("assets/backgrounds/bg-journal-garden.png");
  background-attachment: fixed;
  background-repeat: repeat;
  /*FONT*/
  font-family: "Annie Use Your Telescope", Courier, cursive;
  font-size: 30px;
  line-height: 1em;
  color: #000;
  /*SCROLL*/
  scrollbar-color: #000 #00000000;
}

.garden-section img {
  border-radius: 10px;
  max-width: 100%;
}
/* .garden-section a {
  color: rgb(144, 160, 134);
}
.garden-section a:hover {
  color: transparent;
  text-shadow: 0 0 2px rgb(121, 163, 96, 0.7);
} */
.garden-section h1 {
  font-size: 35px;
  margin-top: -12px;
  color: #000;
}

.petz-section {
  /*BACKGROUND*/
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("assets/backgrounds/bg-paw-print.png");
  background-attachment: fixed;
  background-repeat: repeat;
}

.sumo-section {
  /*BACKGROUND*/
  background: #f9eadf
    url("assets/backgrounds/bg-sumo.png");
  background-attachment: fixed;
  background-repeat: repeat;
  /*FONT*/
  font-family: "Pangolin", Courier, cursive;
  font-size: 22px;
  color: #000;
  /*SCROLL*/
  scrollbar-color: #000 #00000000;
}

.skz-section {
  /*BACKGROUND*/
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("https://pbs.twimg.com/media/FS2PyhrVIAI903y?format=jpg&name=4096x4096");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.purgatory-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), 
    url("https://64.media.tumblr.com/ce835da0f092fd125af106257c9bf41b/1d6a2362372e797e-37/s2048x3072/6dcf50dc7fa1347a9952a171088a74eee69b3caf.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 2px 2px 8px #000;
}

.purgatory-section a {
  color: rgb(255, 0, 0);
}

.purgatory-section a:hover {
  color: transparent;
  text-shadow: 0 0 2px rgba(255, 0, 0, 0.7);
}

/* ------- PAGES ------- */

.page {
  text-align: left;
  width: 40vw;
  padding: 1em;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.page img {
  max-width: 100%;
}

#showroom-page {
  text-align:center
}

#showroom-page h1 {
  margin-bottom: 0px;
}

/* ------- NAVIGATION ------- */

#nav {
  z-index: 2;
  font-size: 60px;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  width: 50px;
  height: 50px;
  background: transparent;
  padding: 5px;
  margin-top: 0px;
  margin-left: 10px;
}

#nav a {
  color: #cd1633;
  margin-top: -10px;
}
#nav a:hover {
  color: transparent;
  text-shadow: 0 0 2px rgba(255, 0, 0, 0.7);
}

/* ------- IMAGE GALLERY ------- */

.thumb img {
  height: 550px;
  width: 500px;
  object-fit: cover;
}

.row {
  padding: 4px 4px;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  max-width: 100%;
}

/* ------- LIGHTBOX ------- */

.lightbox {
  display: none;
  color: #fff;
}

.lightbox:target {
  z-index: 3;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-content: center;
  background: #000;
  border: 0;
  display: grid;
  place-items: center;
}

.lightbox img {
  z-index: 4;
  max-height: 100vh;
}

.lightbox:target:after {
  z-index: 4;
  content: "\00D7";
  position: fixed;
  font-size: 2em;
  font-weight: 200;
  line-height: 0;
  top: 0.75em;
  right: 0.5em;
}

/* ------- DROPDOWN ------- */

label {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  display: block;
  width: fit-content;
}

label + input,
label + input + small {
  display: none;
}

input:checked + small {
  display: block;
}

label:before {
  color: #fff;
  content: "└ ";
}

/*label:after {content:"]";}*/

small {
  font-size: 17px;
  padding-top: 1px;
  margin-left: 1em;
}

/* ------- CODE BOX  ------- */

#codebox {
  border: #fff 1px dashed;
  border-radius: 5px;
  padding: 30px;
}

code {
  font-family: Courier New;
  color: #fff;
  font-size: 15px;
  line-height: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* ------- HOVER TEXT ------- */

span[data-spell] {
  color: #cd1633;
  display: inline-block;
  border-bottom: 1px dotted;
  cursor: none;
}

span[data-spell]::before,
span[data-spell]::after {
  display: none;
}

span[data-spell]::before {
  content: attr(data-spell);
}

span[data-spell]::after {
  color: #cd1633;
  content: attr(data-original);
}

span[data-original]:not(:hover)::before,
span[data-spell]:hover::after {
  display: block;
}

/* ------- COMMENT BOX ------- */

#HCB_comment_box #hcb_form_content,
#HCB_comment_box #hcb_form_email,
#HCB_comment_box #hcb_form_name,
#HCB_comment_box #hcb_form_website {
  background-color: transparent;
  color: #fff;
}

#HCB_comment_box .hcb-icon {
  display: none;
}

#HCB_comment_box label:before {
  color: #fff;
  content: "";
}

#HCB_comment_box h3 {
  display: none;
}

/* ------- MOBILE ------- */

@media only screen and (min-device-width: 100px) and (max-device-width: 1440px) {
  table.dalitable {
  width: 100%;
  }
  table.pyrtable {
  width: 50%;
  margin: auto;
  text-align: center;
  }
  .page {
    margin-top: 10vh;
    width: 85vw;
  }
  .page img {
    max-width: 85vw;
    margin: auto;
  }
  section img {
    max-width: 90vw;
    margin: auto;
  }
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  .lightbox img {
    max-width: 100vw;
    z-index: 4;
  }
  #artgallery {
    display: inline-block;
    width: 700px;
    margin-left: -10px;
  }
  #artgallery img {
    width: 85vw;
  }
  #musicgallery {
    display: inline-block;
    width: 620px;
    margin-left: -10px;
  }
  #musicgallery img {
    width: 85vw;
  }
  #floatleft,
  #floatright {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0px;
    padding-bottom: 20px;
  }
  #nav {
    margin-top: 5px;
    margin-left: 10px;
  }
  #nav a {
    margin-left: 2px;
  }
}