body {
    background: #000;
    color: #fff;
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

a {
    color: rgb(139, 140, 135);
    text-decoration: none;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

a:hover {
    color: transparent;
    text-shadow: 0 0 2px rgb(139, 140, 135, 0.7);
}

h1 {
    color: #fff;
    font-size: 30px;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

/* ------- SECTIONS ------- */

section {
    /*BACKGROUND*/
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
        url("https://picsum.photos/1920/1080");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /*FONT*/
    font-family: "Montserrat", Verdana, sans-serif;
    font-size: 17px;
    line-height: 1.3em;
    color: #fff;
    /*DISPLAY*/
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    /*SCROLL*/
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: #fff #ffffff00;
    scrollbar-width: auto;
}

section:target {
    display: block;
}

section#home {
    display: block;
}

/* ------- IMAGE GALLERY ------- */

.row {
    padding: 4px 4px;
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 25%;
    max-width: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    max-width: 100%;
}

/* ------- IMAGE LIGHTBOX ------- */

.lightbox {
    display: none;
    color: #fff;
}

.lightbox:target {
    z-index: 3;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-content: center;
    background: #000;
    border: 0;
    display: grid;
    place-items: center;
}

.lightbox img {
    z-index: 4;
    max-height: 100vh;
    max-width: 100vw;
}

.lightbox:target:after {
    z-index: 4;
    content: "\00D7";
    position: fixed;
    font-size: 2em;
    font-weight: 200;
    line-height: 0;
    top: 0.75em;
    right: 0.5em;
}

/* ----- PROFILES ----- */

.profile-grid {
    display: grid;
    gap: 1.5rem;
    grid-auto-columns: 1fr;
    grid-template-areas:
     'one'
     'two';

    padding-block: 3rem;
    width: min(100%, 55rem);
    margin-inline: auto;
}

.profile-grid img {
    display: block;
    margin: auto;
    object-fit: contain;
    object-position: top;
}

.profile:nth-child(1) {
    grid-area: one;
}

.profile:nth-child(2) {
    grid-area: two;
}

#signature {
    float: right;
    padding-left: 20px;
}

/* ------- MOBILE ------- */

@media screen and (min-width: 800px) {
    .profile-grid {
            grid-template-areas:
            "one two";
        }
}

@media only screen and (min-width: 200px) {
    .page {
        margin: auto;
        width: 50vw;
        padding-top: 5rem;
        padding-bottom: 3rem;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    #musicgallery img {
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 1500px) {
    .page {
        width: 85vw;
    }
}